<!DOCTYPE html>
<html ng-app="fmsApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FMS UI" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FMS UI" %>">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&language=en"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if user_signed_in? %>
    <script type="text/javascript">
      var login = <%=raw current_user.to_json %>;
      var currentDomain = <%= raw Domain.current_domain.to_json %>;
      login.current_domain_id = currentDomain.id;
      login.current_domain_name = currentDomain.name;

      LOCALE_RESOURCE = <%=raw Terminology.to_resource(cookies[:locale] || current_user.locale) %>;
      BRAND_NAME = currentDomain.brand_name;
      BRAND_IMAGE_URL = currentDomain.brand_image;
      CONTENT_IMAGE_URL = currentDomain.content_image;
      CONTENT_BASE_URL = '<%= GlobalConfig.content_base_url %>';
      DEFAULT_LAT = <%= GlobalConfig.default_lat %>;
      DEFAULT_LNG = <%= GlobalConfig.default_lng %>;
    </script>
    <% end %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <%= render 'layouts/messages' %>
    <%= yield %>
		
    <% if user_signed_in? %>
		<div class="alert alert-popup" role="alert" ng-conroller="CoreCtrl" ng-show="alertItem.isShow">
			<div class="type-icon overspeed-white"></div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" 
        ng-click="alertItem.isShow = false">
        <span aria-hidden="true">&times;</span>
      </button>
		  <strong>{{alertItem.title}}</strong>{{alertItem.time | date : 'medium'}}
		</div>
    <% end %>
  </body>
</html>
